/* All */

body, html {
    width: 100%;
	height: auto;
    background-color: white;
	color: #575757;
	scroll-behavior: smooth;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin:0;
    padding:0;
}

a {
    text-decoration:none;
	transition-duration: 0.3s;
	color: #aaaaaa;
}

li {
	padding: 2px;
}

.row {
	flex-direction: row;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.column h1, .column h3 {
	text-align: center;
}

/* Navabr */
.nav {
	display: block;
    left: 0%;
	right: 0%;
	background-color: white;
	position: fixed;
	box-shadow: 2px 2px 5px #aaaaaa;
	z-index: 1;
}

.nav-item-left, .nav-item-right {
	align-items: center;
	display: block;
	padding: 22px;
	color: #354259;
}

.nav-item-left {
	float: left;
	font-weight: 700;
}

.nav-item-right {
	float: right;
	font-weight: 400;
}

/* Page-Content */
.page-content {
	height: 100%;
	padding-top: 60px;
}

/*About*/
#about-section {
	margin-top: 60px;
}

/*Education*/
#education {
	flex-direction: column;
	background-color:#ECE5C7;
}

/*Project Section*/

#projects-section {
	margin: 50px;
}

#projects-nav {
	margin: 10px;
}

.button {
	background-color: #e7e2e2;
	padding: 20px;
	border: none;
	border-radius: 6px;
	font-weight: 700;
	color: #354259;
}

.active {
	background-color: #354259;
	color: white;
}

.projects {
	display: block;
	padding: 15px;
}

.project {
	position: relative;
	display: block;
	height: 325px;
	width: 325px;
	margin: 2%;
}

.project-img {
	height: 325px;
	width: 325px;
	border-radius:6px;
}

/* Footer */

.footer {
 	padding: 0;
	text-align: center;
	height: 4em;
	background-color: #354259;
}

#socials, #copyright {
	text-align: center;
	font-weight: 300;
}

#socials {
	display: block;
	min-width: 100%;
}

.social-links {
	display: flex;
	display: inline-block;
	padding: 10px;
	color: white;
	transition: 0s;
}

#socials span {
	color: white;
}

.social-links:hover {
	transition-duration: 0.3s;
	color: #aaaaaa;
}

#copyright p {
	padding: 5px;
	margin: 0;
	color: #aaaaaa;
}

