/* All */

body, html {
    width: 100%;
	height: 100%;
	scroll-behavior: smooth;
	font-family: quicksand, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin:0;
    padding:0;
}

a {
    text-decoration:none;
	transition-duration: 0.3s;
	color: #aaaaaa;
}

li {
	padding: 2px;
}

.row {
	flex-direction: row;
}

.container {
	scroll-margin-top: 60px;
  	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
}

.column h1, .column h3 {
	text-align: center;
}

/* Navabr */
.nav {
	display: block;
	top: 0%;
    left: 0%;
	right: 0%;
	background-color: white;
	position: fixed;
	/*box-shadow: 2px 2px 5px #aaaaaa;*/
	z-index: 1;
}

.nav-item-left, .nav-item-right {
	align-items: center;
	display:inline-block;
	padding: 22px;
	color: #354259;
}

.nav-item-left {
	float: left;
	font-weight: 700;
	pointer-events: none;
	cursor: default;
}

.nav-item-right {
	float: right;
	font-weight: 400;
	opacity: .8;
}

.nav-item-right:hover {
	opacity: 1;
}

@media screen and (max-width: 550px) {
    /* Style for the menu toggle button */
	.nav-item-right {
		display: none;
	}
}

/* Page-Content */
.page-content {
	margin:0 auto;
}

/*About*/
#about-section {
	max-height: 50%;
	min-height: 10%;
	display: block;
	text-align: center;
	-ms-flex-align: center;
	padding: 60px;
	margin-top: 60px;
}

#typing-container {
	min-height: 120px;
}

#about-section > p {
	margin-right: 10px;
	height: 50px;
	text-align: center;
}
/* Code drawing*/
#codebox {
	display: block;
	border-radius: 7px;
	min-height: 250px;
	background-color: #354259;
	margin-top: 20px;
	min-width: 300px;
	max-width: 500px;
}

#status-bar {
	display: block;
	height: 20px;
	border-radius: 7px 7px 0px 0px;
	background-color: #3e5c75;
}

.status-bar-icons {
	text-align: left;
	padding: 0;
	width: 100%;
	padding-left: 10px;
	height: 20px;
}

.icon {
	border-radius: 50%;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 5px;
	float: left;
}

#red {
	background-color: rgb(235, 15, 15);
	height: 10px;
	width: 10px;
}
#yellow {
	background-color: rgb(235, 202, 15);
	height: 10px;
	width: 10px;
}
#green {
	background-color: rgb(77, 235, 15);
	height: 10px;
	width: 10px;
}

/* Code */                     

#code-container {
	max-width: 600px;
	overflow-x: wrap;
	overflow-y: auto;
}

.code {
	color: #e7e2e2;
	font-family: monospace;
}

.codelist {
	margin: 0px;
	display: block;
	padding-left: 0;
}

.bullet {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	max-height: auto;
	margin: 0;
	padding-left: 10px;
	list-style: none;
}

.bulletlinks {
	color:#e7e2e2;
	text-decoration: underline;
}

#first-bullet {
	padding-top: 15px;
	padding-bottom: 15px;
}
#last-bullet {
	padding-bottom: 15px;
}

.purple {
	color: #AF7AC5;
}
.green {
	color: #138D75;
}
.light_blue {
	color: #85C1E9;
}
.blue {
	color: #2980B9;
}
.orange {
	color: #F0B27A;
}
.yellow {
	color: #F4D03F;
}
.light_yellow {
	color: #F9E79F;
}


/*Education*/
#education-section {
	flex-direction: column;
	background-color:#ECE5C7;
	padding: 60px;
}

#education-title {
	border-radius: 3px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding-bottom: 10px;
}

.education-info {
	text-align: left;
	justify-content: left;
}

.education-info > h3, h2, p {
	text-align: left;
	margin: 0;
	padding: 8px;
}

.edlists {
	max-width: 600px;
}

.certification-items {
	margin: 2px;
}

/*Project Section*/

#projects-section {
	padding: 50px;
	text-align: center;
}

#projects-title {
	border-radius: 3px;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding-bottom: 10px;
}

#projects-nav {
	margin: 10px;
	align-content: center;
	justify-content: center;
}

.active {
	background-color: #354259;
	color: white;
}

.codingprojects {
	float: center;
	border-radius: 6px;
	background-color: #2196F3;
	color: #ffffff;
	width: 250px;
	line-height: 250px;
	text-align: center;
	margin: 20px;
	display: none;
}

.show {
	display:inline-block;
}

.filter-button {
	background-color: #e7e2e2;
	padding: 20px;
	border: none;
	border-radius: 6px;
	font-weight: 700;
	color: #354259;
	cursor: pointer;
	margin-bottom: 5px;
}

.filter-button:hover {
	background-color: #ddd;
}

.filter-button.active {
	background-color: #354259;
	color: white;
}

/* Footer */

#footer {
 	padding: 10px;
	text-align: center;
	height: 4em;
	background-color: #354259;
	bottom: 0%;
	margin-bottom: 0;
}

#socials, #copyright {
	text-align: center;
	font-weight: 300;
}

#socials {
	display: block;
	min-width: 100%;
}

.social-links {
	display: flex;
	display: inline-block;
	padding: 10px;
	color: white;
	transition: 0s;
}

#socials span {
	color: white;
}

.social-links:hover {
	transition-duration: 0.3s;
	color: #aaaaaa;
}

#copyright p {
	padding: 5px;
	margin: 0;
	color: #aaaaaa;
}